.body{
    width: 100%;
    background-color: #3366cc;
}

@media screen and (max-width: 922px) {
    .atas {
        padding: 0px 0px 0px 0px;
        height: auto;
    }
    .containertentang {
        background-color: #006eff;
        width: 100%;
    }
    .kotak1 {
        width: 100%;
        height: auto;
    }
    .kotakj {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 580px) {
    .atas {
        padding: 200px 0px 0px 0px;
        height: auto;
    }
}


p {
    font-size: 20px;
    text-align: justify;
    padding: 10px 15px 10px 15px;
}

h1 {
    font-size: 250px;
    text-align: center;
    padding: 250px 2px 10px 2px;
    text-shadow: 2px 2px 5px black;
    font-family: inherit;
    color: red;

}

h3 {
    font-size: 25px;
    text-align: center;
    padding: 10px 5px 10px 5px;
    text-shadow: 2px 2px 5px black;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 55px;
    text-align: center;
    padding: 70px 5px 10px 5px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

h4 {
    font-size: 55px;
    text-align: center;
    padding: 15px 5px 10px 0px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}

h5 {
    font-size: 65px;
    text-align: left;
    padding: 10px 5px 10px 0px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}


h6 {
    font-size: 45px;
    text-align: center;
    padding: 10px;
    background-color: white;
    height: 85px;
    width: 280px;
    border-radius: 5%;
}

.container2 {
    height: 450px;
}

.container3 {
    height: 400px;
}
.kotak1 {
    width: 50%;
    float: left;
}

.kotak2 {
    text-align: justify;
    margin: 10px;
    float: left;
}

.kotakj {
    text-align: justify;
    margin: 10px;
    padding: 25px 0px 0px 0px;
    width: 31%;
    float: left;
}

.kotakal{
    text-align: center;
    margin: 10px;
    float: left;
    width: 23%;
}

.hadiah1 {
    padding: 25px 0px 0px 235px;

}


.kotak3 {
    text-align: justify;
    margin: 10px;
    float: left;
    height: 100px;
    width: 280px;
}

.jadwal1 {
    padding: 25px 0px 0px 45px;

}

.alur1 {
    padding: 25px 0px 0px 45px;

}


.container5 {
    padding: 20px 10px 10px 10px;
}
.site-footer
{
  background-color:#141c3b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#d1d3da
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding:0px;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#98b1e7
}
.social-icons a.twitter:hover
{
  background-color:#ff0000
}
.social-icons a.linkedin:hover
{
  background-color:#ff0000
}
.social-icons a.dribbble:hover
{
  background-color:#ff0000
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
